<% provide(:title, 'About Us') %>
   
<%= stylesheet_link_tag 'style' %>
<%= stylesheet_link_tag 'coda-slider' %>
<%= stylesheet_link_tag 'thickbox' %>

<!-- Wrapper Container Starts Here -->
<div id="wrapper">
	<div id="header">
	<!--<div id="logo"></div>-->
	<div><h1>ObaidMalik.com</h1></div>

	<div id="navigation">
		<ul id="menu">
			<li id="home-nav"><a href="/static_pages/home">Home</a></li>
			<li id="portfolio-nav"><a href="#portfolio">portfolio</a></li>
			<li id="about-nav"><a href="/static_pages/about">about</a></li>
			<li id="contact-nav"><a href="/static_pages/contact">contact</a></li>
		</ul>
	</div> 
	<!-- End of Navigation Container -->
</div>
<!-- End of Header Container -->

<!-- About Container Starts Here -->
<div id="about">

<div class="content">

<h2>About Me</h2>
<div style="height:20px"></div>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque et ipsum. Nullam vel magna eu turpis rutrum tempor. Donec laoreet pretium quam. Praesent pharetra, magna lacinia luctus auctor, diam orci pellentesque arcu, congue tempus felis dui quis quam. Aenean suscipit. Sed dictum scelerisque massa. Proin fringilla. Sed sed enim.</p>
<p style="margin-top: 10px;">Aenean diam eros, molestie eu, mattis eu, consectetur ut, erat. Pellentesque a mauris. Nunc placerat neque nec tellus. Quisque venenatis sollicitudin pede. Etiam ut turpis eu ante elementum venenatis. Donec purus dolor, sodales id, adipiscing quis, volutpat sit amet, quam. Curabitur sollicitudin lacus ac nunc. Suspendisse mattis mi vel metus. Mauris cursus urna ac magna. In vel felis nec velit ultricies tincidunt. Vestibulum feugiat pretium lectus. Duis a magna ac mi scelerisque posuere. Praesent convallis, lacus a imperdiet tempor, nibh magna luctus justo, quis condimentum turpis pede sed massa. Vivamus interdum. Sed risus tellus, iaculis at, congue eu, eleifend a, tellus. Cras pretium. Nullam mi nibh, sollicitudin eu, condimentum vel, rhoncus quis, sapien. Ut nec felis. </p>
<ul class="content-list">
<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
<li>Aliquam eget mauris ut tortor sodales iaculis.</li>
<li>Sed sit amet mauris ut mauris fermentum egestas.</li>
<li>Donec ac turpis congue orci consectetur viverra.</li>
<li>Maecenas sit amet ligula ac leo aliquam imperdiet.</li>
</ul>

</div>
<!-- End of Content Container -->

<div class="separator"><a href="#header" class="to-top-img">back to top</a></div>

</div>
<!-- End of About Container -->



  