<%= content_for :menu_bar do -%>
<!-- Wrapper Container Starts Here -->
<div id="wrapper">
	<div id="header">
	<div id="logo"></div>

	<div id="navigation">
		<ul id="menu">
			<li id="home-nav"><a href="#">Home</a></li>
			<li id="portfolio-nav"><a href="#portfolio">portfolio</a></li>
			<li id="about-nav"><a href="/static_pages/about">about</a></li>
			<li id="contact-nav"><a href="/static_pages/contact">contact</a></li>
		</ul>
	</div> 
	<!-- End of Navigation Container -->
</div>
<!-- End of Header Container -->

<% end %>

